* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Times New Roman", Times, serif;
}


body {
    background: #000;
    overflow: hidden;
}

/* INTRO SECTION */
#intro {
    position: fixed;
    inset: 0;
    /* BACKGROUND GAMBAR */
    background-image: url("../assets/image/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FRAME 9:16 */
.intro-wrapper {
    width: 360px;
    height: 640px;
    background: black;
    position: relative;
}

@media (min-width: 768px) {
    .intro-wrapper {
        width: 405px;
        height: 720px;
    }
}

@media (min-width: 1024px) {
    .intro-wrapper {
        width: 450px;
        height: 800px;
    }
}

#intro video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BUTTON */
#openInvitation {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%) scale(0.9);
    padding: 12px 32px;
    font-size: 16px;
    background: #997373;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

#openInvitation.show {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    pointer-events: auto;
}
